.heading
{
font-size: 27px;
width: 100%;
margin: 0px;
box-shadow: 5px 5px 5px gray;
}

.note
{
    font-size: 15px;
    color: black;
}

.copyright_footer
{
    position: fixed;
    background-color: lightgreen;
    color: rgb(249, 249, 249);
    bottom: 0;
    width: 100%;
    font-size: 15px;
    text-align: center;
    line-height: 3;
}

canvas
{
border: 5px;
border-radius: 20px;
box-shadow: 5px 5px 5px chocolate;
}